@media(max-width: 1200px) {
    .box-topo {
        justify-content: center;
    }
    #img-header {
        max-width: 770px;
        max-height: 610px;
    }
    #titulo {
        max-width: 610px;
        margin: 0 calc((100% - 860px) / 2);
        bottom: -250px;
    }
    #titulo>h1 {
        font-size: 5rem;
    }
    #circulo {
        bottom: 120px;
        max-height: 300px;
    }
    #circulo-um {
        right: 150px;
        max-height: 510px;
    }
    #circulo_dois {
        bottom: -200px;
        height: 320px;
        width: 300px;
    }
    #circulo-tres {
        height: 500px;
    }
    .box-artigos {
        margin-top: 300px;
    }
    .corpo-primeito-art {
        padding: 0 calc((100% - 960px) / 2);
    }
    .corpo-segundo-art {
        padding: 150px calc((100% - 960px) / 2);
        padding-bottom: 250px;
    }
    .corpo-terceiro-art {
        padding: 100px calc((100% - 960px) / 2);
    }
    .corpo-quarto-art {
        padding: 100px calc((100% - 960px) / 2);
    }
    .corpo-quinto-art {
        padding: 30px calc((100% - 960px) / 2);
    }
    .corpo-quarto-art>.item-art p:nth-child(2) {
        text-align: left;
    }
    .item-art h1 {
        font-size: 3.5rem;
    }
    .item-art p {
        font-size: 1.8rem;
    }
    .aristocrata h1 {
        text-align: left !important;
    }
    #jogador-um {
        max-height: 440px;
        max-width: 360px;
    }
    #jogador-dois {
        max-height: 440px;
        max-width: 360px;
    }
    #neymar {
        height: 650px;
    }
}

@media(max-width: 990px) {
    #img-header {
        max-width: 600px;
        max-height: 510px;
    }
    #titulo {
        max-width: 510px;
        height: 300px;
        margin: 0 calc((100% - 730px) / 2);
    }
    #titulo>h1 {
        font-size: 3.5rem;
    }
    #circulo-um {
        right: 250px;
        max-height: 430px;
    }
    #circulo_dois {
        right: 0px;
        bottom: -300px;
        height: 280px;
        width: 270px;
    }
    #circulo-tres {
        height: 400px;
        left: 120px;
    }
    .box-artigos {
        margin-top: 300px;
    }
    .corpo-primeito-art {
        padding: 0 calc((100% - 730px) / 2);
    }
    .corpo-segundo-art {
        display: block;
        padding: 90px calc((100% - 730px) / 2);
        padding-bottom: 300px;
    }
    .corpo-terceiro-art {
        display: block;
        padding: 100px calc((100% - 730px) / 2);
    }
    .corpo-quarto-art {
        padding: 100px calc((100% - 730px) / 2);
    }
    .corpo-quinto-art {
        padding: 30px calc((100% - 730px) / 2);
        flex-direction: column;
    }
    .box-neymar {
        height: 400px;
        max-width: 100%;
        order: 2;
    }
    .corpo-quarto-art>.item-art p:nth-child(2) {
        text-align: left;
    }
    .item-art:first-child {
        margin-right: 0px;
    }
    .item-art h1 {
        font-size: 3rem;
    }
    .item-art p {
        font-size: 1.7rem;
    }
    .segundo-art {
        max-width: 100%;
    }
    .segundo-art p:nth-child(2) {
        margin-bottom: 0px;
    }
    .curiosidade {
        max-width: 500px;
    }
    .futebol-aristocrata {
        width: 100%;
        height: 475px;
        background-position: top center;
        margin-right: 0px;
        margin-bottom: 40px;
    }
    .aristocrata h1 {
        text-align: center !important;
    }
    .fut-ingles:first-child {
        margin-right: 30px;
    }
    blockquote {
        font-size: 1.4rem;
        padding: 30px 0 30px 30px;
    }
    .cit-neymar {
        font-weight: bold;
    }
    .cit-neymar:before {
        height: 78px;
    }
    #jogador-um {
        max-height: 400px;
    }
    #jogador-dois {
        max-height: 400px;
    }
    #jogadores-img {
        width: 100%;
    }
    #neymar {
        height: 400px;
        width: 100%;
        object-fit: contain;
    }
    .brasil {
        order: 1;
        margin: 0 auto;
        margin-top: 40px;
    }
}

@media(max-width: 760px) {
    #titulo {
        left: 110px;
    }
    #circulo_dois {
        right: 0px;
        bottom: -190px;
        height: 190px;
        width: 180px;
    }
    #circulo-tres {
        left: 60px;
    }
    .box-artigos {
        margin-top: 280px;
    }
    .corpo-primeito-art {
        align-items: center;
        flex-direction: column;
        padding: 60px calc((100% - 520px) / 2);
    }
    .corpo-segundo-art {
        padding: 90px calc((100% - 520px) / 2);
        padding-bottom: 300px;
    }
    .corpo-terceiro-art {
        padding: 90px calc((100% - 520px) / 2);
    }
    .corpo-quarto-art {
        padding: 100px calc((100% - 520px) / 2);
        flex-direction: column;
    }
    .corpo-quinto-art {
        padding: 30px calc((100% - 520px) / 2);
        padding-bottom: 0;
    }
    .aristocrata h1 {
        text-align: left !important;
    }
    .box-paragrafos {
        flex-direction: column;
    }
    .paragrafos {
        max-width: 100%;
        flex: 1;
    }
    .paragrafos:first-child {
        margin-right: 0;
    }
    .paragrafos p:first-child {
        margin-bottom: 0;
    }
    .fut-ingles:first-child {
        margin-right: 0px;
    }
    #jogador-dois {
        display: none;
    }
}

@media(max-width: 600px) {
    #img-header {
        max-width: 400px;
    }
    #titulo {
        max-width: 350px;
        height: 300px;
        margin: 0 calc((100% - 350px) / 2);
        left: 0;
    }
    #titulo h1 {
        font-size: 3rem;
        text-align: center;
        line-height: 5rem;
    }
    #circulo {
        bottom: 120px;
        max-height: 250px;
    }
    #circulo-um {
        right: 200px;
        max-height: 300px;
    }
    #circulo_dois {
        right: 20px;
        bottom: -140px;
        height: 140px;
        width: 135px;
    }
    #circulo-tres {
        height: 300px;
        left: 30px;
    }
    .corpo-primeito-art {
        padding: 40px calc((100% - 350px) / 2);
    }
    .corpo-segundo-art {
        padding: 90px calc((100% - 350px) / 2);
        padding-bottom: 300px;
    }
    .corpo-terceiro-art {
        padding: 90px calc((100% - 350px) / 2);
    }
    .corpo-quarto-art {
        padding: 100px calc((100% - 350px) / 2);
    }
    .corpo-quinto-art {
        padding: 30px calc((100% - 350px) / 2);
        padding-bottom: 0;
    }
    .curiosidade {
        bottom: -30px;
        max-width: 350px;
    }
    #neymar {
        height: 300px;
    }
}

@media(max-width: 400px) {
    #img-header {
        max-width: 100%;
        height: 400px;
        object-fit: cover;
    }
    #titulo {
        max-width: 330px;
        margin: 0 calc((100% - 330px) / 2);
        padding: 25px 30px;
    }
    #titulo h1 {
        font-size: 3rem;
        text-align: center;
        line-height: 5rem;
    }
    #circulo {
        bottom: 120px;
        max-height: 200px;
    }
    #circulo-um {
        right: 0;
        top: 10px;
        max-height: 360px;
    }
    .corpo-primeito-art {
        padding: 40px calc((100% - 330px) / 2);
    }
    .corpo-segundo-art {
        padding: 90px calc((100% - 330px) / 2);
        padding-bottom: 300px;
    }
    .corpo-terceiro-art {
        padding: 90px calc((100% - 330px) / 2);
    }
    .corpo-quarto-art {
        padding: 100px calc((100% - 330px) / 2);
    }
    .corpo-quinto-art {
        padding: 30px calc((100% - 330px) / 2);
        padding-bottom: 0;
    }
    #jogador-um {
        max-height: 350px;
    }
    blockquote {
        font-size: 1.4rem;
        padding: 30px;
    }
    blockquote::before {
        height: 130px;
    }
    .cit-neymar:before {
        height: 130px;
    }
    #btn-voltar {
        width: 30px;
        left: 30px;
        top: 15px;
    }
}

@media(max-width: 280px) {
    #titulo {
        max-width: 270px;
        margin: 0 calc((100% - 330px) / 2);
        padding: 10px;
        left: 30px;
    }
    #titulo h1 {
        line-height: 4.5rem;
    }
    #circulo-um {
        max-height: 280px;
    }
    #circulo_dois {
        display: none;
    }
    #circulo-tres {
        height: 220px;
        left: 30px;
    }
    .corpo-primeito-art {
        padding: 40px calc((100% - 260px) / 2);
    }
    .corpo-segundo-art {
        padding: 90px calc((100% - 260px) / 2);
        padding-bottom: 300px;
    }
    .corpo-terceiro-art {
        padding: 90px calc((100% - 260px) / 2);
    }
    .corpo-quarto-art {
        padding: 100px calc((100% - 260px) / 2);
    }
    .corpo-quinto-art {
        padding: 30px calc((100% - 260px) / 2);
        padding-bottom: 0;
    }
    #jogador-um {
        max-height: 350px;
    }
    .curiosidade {
        bottom: -45px;
        max-width: 280px;
    }
    #btn-voltar {
        left: 20px;
    }
}