@media(max-width: 1200px) {
    .artigos {
        padding: 100px calc((100% - 960px) / 2);
    }
    .box-curiosidades {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .quinto-art {
        max-width: 520px;
    }
    .box-magic-paula {
        background-size: cover;
        background-position: center right;
    }
}

@media(max-width: 990px) {
    #titulo {
        max-width: 440px;
        margin-right: 30px;
    }
    #titulo h1 {
        font-size: 3.7rem;
    }
    .artigos {
        padding: 100px calc((100% - 730px) / 2);
    }
    .box-curiosidades {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .box-cont-artigo {
        flex-direction: column;
    }
    .cont-artigo {
        max-width: 495px;
    }
    .cont-art-dois {
        max-width: 100%;
    }
    #historia-basquete {
        max-height: 290px;
        object-fit: cover;
        object-position: center;
    }
    .cont-art-dois:first-child,
    .terceiro-art:first-child,
    .quarto-art:first-child,
    .curiosidade:first-child,
    .quinto-art:first-child {
        padding-right: 0;
    }
    .quarto-art,
    .quinto-art {
        max-width: 100%;
    }
    
    .artigo-quatro, .artigo-cinco {
        flex-direction: column;
    }
    .atleta-dois {
        justify-content: center;
    }
    #atleta-basquete-dois {
        max-width: 400px;
    }
    #circulo {
        max-width: 320px;
        right: 200px;
    }
    .curiosidade {
        max-width: 100%;
    }
    .box-magic-paula {
        max-width: 100%;
        height: 350px;
        background-image: url('../basquete/magic-paula-widescreen.png');
        background-position: top;
    }
    
    
}

@media(max-width: 950px) {
    .artigo-um,
    .artigo-tres {
        background-image: none;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .artigo-um-bg {
        background-image: url('../basquete/bg-jogador-wide.jpg');
        background-attachment: fixed;
        background-position: right;
        background-size: cover;
        height: 200px;
    }
    .artigo-tres-bg {
        background-image: url('../basquete/bg-wide.webp');
        background-attachment: fixed;
        background-position: top left;
        background-size: cover;
        height: 200px;
    }
    .primeiro-art:first-child,
    .terceiro-art:first-child {
        padding-right: 0;
        max-width: 100%;
    }
}

@media(max-width: 760px) {
    .artigos {
        padding: 100px calc((100% - 520px) / 2);
    }
    .box-curiosidades {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .artigo-um,
    .artigo-tres {
        background-image: none;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    h1 {
        font-size: 3.2rem;
    }
    #atleta-basquete-dois {
        max-width: 350px;
    }
    #circulo {
        max-width: 250px;
        right: 150px;
    }
    .box-magic-paula {
        height: 250px;
    }
}

@media(max-width: 600px) {
    #titulo {
        max-width: 280px;
        margin-right: 20px;
        padding: 20px 15px;
        background: rgba(255, 114, 43, 0.678);
    }
    #titulo h1 {
        font-size: 3rem;
        line-height: 3.8rem;
    }
    .artigos {
        padding: 80px calc((100% - 350px) / 2);
    }
    .box-curiosidades {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .artigo-um,
    .artigo-tres {
        background-image: none;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    h1 {
        font-size: 2.5rem;
    }
    p, 
    li {
        padding-top: 15px;
        font-size: 1.6rem;
        line-height: 2.6rem;
    }  
    span {
        font-size: 1.9rem;
    } 
    #atleta-basquete-dois {
        max-width: 300px;
    }
    #circulo {
        max-width: 195px;
        right: 100px;
    }
}

@media(max-width: 400px) {
    .artigos {
        padding: 80px calc((100% - 330px) / 2);
    }
    .box-curiosidades {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .artigo-um,
    .artigo-tres {
        background-image: none;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .box-titulo {
        justify-content: center;
    }
    .artigo-um-bg {
        background-attachment: scroll;
    }
    .artigo-tres-bg {
        background-attachment: scroll;
    }
}

@media(max-width: 280px) {
    .artigos {
        padding: 50px calc((100% - 250px) / 2);
    }
    .box-curiosidades {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .artigo-um,
    .artigo-tres {
        background-image: none;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .box-titulo {
        justify-content: center;
    }
    #titulo {
        margin-right: 0;
    }
    #atleta-basquete-dois {
        max-width: 250px;
    }
    #circulo {
        max-width: 175px;
        right: 50px;
    }
}